{
	db:{
		rootPath: "/local/path/to/your/new/database/example.db",
		nodeTypes:[
		    {
		        name: "node_type_a",
		        comment: "node properties will be typed as string unless specified in items",
		        items:[
                    { name: "node_property_a", type: "string" },
                    { name: "node_property_b", type: "int" },
                    { name: "node_property_c", type:"int" }
                ]
            },
            { name: "node_type_b", comment: "all node properties will be typed as string" },
            { name: "node_type_c", comment: "all node properties will be typed as string" }
        ],
		edgeTypes:[
		    { name: "edge_type_a", comment: "all edge properties will be typed as string" },
		    {
		        name: "edge_type_b",
		        comment: "edge properties will be typed as string unless specified in items",
		        items:[
		            { name: "edge_property_a", type: "double" },
		            { name: "edge_property_b", type: "int" }
                ]
            }
        ]
	},
	nodeFiles:[
		{ location:"/local/path/to/your/files/file_a.txt", type:"node_type_a"},
		{ location:"/local/path/to/your/files/file_b.txt", type:"node_type_b"},
		{ location:"/local/path/to/your/files/file_c.txt", type:"node_type_c"}
	],
	edgeFiles:[
	    { location:"/local/path/to/your/files/file_d.txt", type:"edge_type_a"},
	    { location:"/local/path/to/your/files/file_d.txt", type:"edge_type_b"}
	]
}
