{
    service: {
        uri: "/addama/services/datasources/hukilau-svc",
        url: "https://websvcs.example.com/hukilau-svc",
        label: "Hukilau Graph Database Service"
    },
    mappings: [
        {
            uri: "/addama/datasources/graphs/db_name",
            label: "Database Name"
        }
    ],
    locals: [
        {
            id: "db_name",
            location: "/local/path/to/neo4j/database.db"
        }
    ]
}

