{
    family: "/addama/graphs",
    label: "Hukilau Graph Database Service",
    mappings: [
        {
            id: "db_name",
            label: "Database Name",
            location: "/local/path/to/neo4j/database.db",
            nodeIdx: "geneNodeIdx",
            relIdx: "genRelIdx",
            dbConfig:
                {
                    neostore.nodestore.db.mapped_memory: "500k",
                    neostore.relationshipstore.db.mapped_memory: "800M",
                    neostore.propertystore.db.mapped_memory: "800M",
                    ha.server_id: "1",
                    ha.server: "localhost:6001",
                    ha.coordinators: "localhost:2181,localhost:2182,localhost:2183",
                    ha.pull_interval: "10",
                    org.neo4j.server.database.mode:"HA"

                }
        }
    ]
}

